.list {
  max-width: 45%;
  height: 80vh;
  list-style: none;
  overflow: auto;
}

.list li {
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.list li:hover {
  background-color: #eee;
}

.list .same {
  background-color: white;
}

.list .active {
  background-color: lightgray;
}
